In [ ]:

import numpy as np
import pandas as pd

from sklearn.neighbors import KNeighborsClassifier

In [ ]:
#read csv
diversity = pd.read_csv('ml_csv.csv')
diversity.head()

,company,ownership,year,valuations,eeo_1 status,sum(female),sum(male),sum(American_Indian_Alaskan_Native),sum(Asian),sum(Black_or_African_American),...,sum(Administrative support),sum(Craft workers),sum(Executives),sum(Managers),sum(Professionals),sum(Sales workers),sum(Service workers),sum(Technicians),sum(laborers and helpers),sum(operatives)
0,NetApp,public,2016,11000000000,YES,4522,14379,67,5184,633,...,182,0,72,2006,7764,1302,0,36,0,0
1,Lyft,private,2016,8000000000,YES,1431,1970,18,657,206,...,836,0,30,518,1366,112,4,0,0,0
2,Salesforce,public,2016,58000000000,YES,13189,28212,53,10000,968,...,830,0,474,5204,16238,6686,0,0,0,0
3,Hewlett Packard Enterprise,public,2016,39000000000,YES,34390,69588,412,13268,7468,...,5840,0,1198,11880,68246,8958,0,7354,366,136
4,Sanmina-SCI,public,2016,3000000000,YES,6280,9745,58,4021,944,...,1362,322,244,1182,2264,178,114,1416,8,3320

In [ ]:
#drop unimportant columns
diversity_without_year=diversity.drop("year",axis=1)
diversity_without_eeo=diversity_without_year.drop("eeo_1 status",axis=1)
diversity_without_company=diversity_without_eeo.drop("company",axis=1)
diversity_without_company.head()

,ownership,valuations,sum(female),sum(male),sum(American_Indian_Alaskan_Native),sum(Asian),sum(Black_or_African_American),sum(Hispanic_or_Latino),sum(Native_Hawaiian_or_Pacific_Islander),sum(Overall_totals),...,sum(Administrative support),sum(Craft workers),sum(Executives),sum(Managers),sum(Professionals),sum(Sales workers),sum(Service workers),sum(Technicians),sum(laborers and helpers),sum(operatives)
0,public,11000000000,4522,14379,67,5184,633,774,26,18901,...,182,0,72,2006,7764,1302,0,36,0,0
1,private,8000000000,1431,1970,18,657,206,241,9,3401,...,836,0,30,518,1366,112,4,0,0,0
2,public,58000000000,13189,28212,53,10000,968,1656,160,41401,...,830,0,474,5204,16238,6686,0,0,0,0
3,public,39000000000,34390,69588,412,13268,7468,5974,160,103978,...,5840,0,1198,11880,68246,8958,0,7354,366,136
4,public,3000000000,6280,9745,58,4021,944,1825,34,16025,...,1362,322,244,1182,2264,178,114,1416,8,3320

In [ ]:
#split data into X and y
X = diversity_without_company.drop("ownership", axis=1)
y = diversity_without_company["ownership"]
print(X.shape, y.shape)

(25, 21) (25,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
print(X_train.shape,y_train.shape)

(18, 21) (18,)

In [ ]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

X_scaler = StandardScaler().fit(X_train)

In [ ]:
# Transform the training and testing data using the X_scaler and y_scaler models

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# K Nearest Neighbors

In [ ]:
# Loop through different k values to see which has the highest accuracy
# Note: We only use odd numbers because we don't want any ties
train_scores = []
test_scores = []
for k in range(1, 4, 2):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train_scaled, y_train)
    train_score = knn.score(X_train_scaled, y_train)
    test_score = knn.score(X_test_scaled, y_test)
    train_scores.append(train_score)
    test_scores.append(test_score)
    print(f"k: {k}, Train/Test Score: {train_score:.3f}/{test_score:.3f}")

k: 1, Train/Test Score: 1.000/0.571
k: 3, Train/Test Score: 0.833/0.714

In [ ]:
# Note that k: 3 provides the best accuracy where the classifier starts to stablize
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train_scaled, y_train)
print('k=3 Test Acc: %.3f' % knn.score(X_test_scaled, y_test))

k=3 Test Acc: 0.714

Source: [Sklearn Nearest Neighbors](https://scikit-learn.org/stable/auto_examples/neighbors/plot_nca_classification.html)